/* Imports from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Space+Grotesk:wght@500;700&family=JetBrains+M

:root {
    --dark-text: #1A1A1A;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header.dark {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #000000;
  background-image: radial-gradient(circle at 57% 36%, hsla(263,0%,78%,0.04) 0%, hsla(263,0%,78%,0.04) 10%,transparent 10%, transparent 100%),radial-gradient(circle at 22% 61%, hsla(263,0%,78%,0.04) 0%, hsla(263,0%,78%,0.04) 36%,transparent 36%, transparent 100%),radial-gradient(circle at 68% 97%, hsla(263,0%,78%,0.04) 0%, hsla(263,0%,78%,0.04) 41%,transparent 41%, transparent 100%),radial-gradient(circle at 57% 89%, hsla(263,0%,78%,0.04) 0%, hsla(263,0%,78%,0.04) 30%,transparent 30%, transparent 100%),radial-gradient(circle at 39% 80%, hsla(263,0%,78%,0.04) 0%, hsla(263,0%,78%,0.04) 22%,transparent 22%, transparent 100%),radial-gradient(circle at 88% 71%, hsla(263,0%,78%,0.04) 0%, hsla(263,0%,78%,0.04) 30%,transparent 30%, transparent 100%),linear-gradient(0deg, rgb(0,0,0),rgb(0,0,0));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header.light {
  font-family: 'Space Grotesk', sans-serif;
  background-color: white;
  background-image: radial-gradient(circle at 77% 66%, rgba(41,180,35, 0.18) 0%, rgba(41,180,35, 0.18) 9%,transparent 9%, transparent 43%,transparent 43%, transparent 100%),radial-gradient(circle at 6% 56%, rgba(41,180,35, 0.18) 0%, rgba(41,180,35, 0.18) 20%,transparent 20%, transparent 56%,transparent 56%, transparent 100%),radial-gradient(circle at 48% 45%, rgba(41,180,35, 0.18) 0%, rgba(41,180,35, 0.18) 15%,transparent 15%, transparent 85%,transparent 85%, transparent 100%),radial-gradient(circle at 89% 6%, rgba(41,180,35, 0.18) 0%, rgba(41,180,35, 0.18) 5%,transparent 5%, transparent 32%,transparent 32%, transparent 100%),radial-gradient(circle at 71% 38%, rgba(41,180,35, 0.18) 0%, rgba(41,180,35, 0.18) 14%,transparent 14%, transparent 21%,transparent 21%, transparent 100%),radial-gradient(circle at 84% 78%, rgba(41,180,35, 0.18) 0%, rgba(41,180,35, 0.18) 11%,transparent 11%, transparent 85%,transparent 85%, transparent 100%),radial-gradient(circle at 92% 72%, rgba(41,180,35, 0.18) 0%, rgba(41,180,35, 0.18) 42%,transparent 42%, transparent 51%,transparent 51%, transparent 100%),radial-gradient(circle at 73% 95%, rgba(41,180,35, 0.18) 0%, rgba(41,180,35, 0.18) 48%,transparent 48%, transparent 63%,transparent 63%, transparent 100%),radial-gradient(circle at 29% 29%, rgba(41,180,35, 0.18) 0%, rgba(41,180,35, 0.18) 24%,transparent 24%, transparent 73%,transparent 73%, transparent 100%),linear-gradient(90deg, rgb(154,242,154),rgb(154,242,154));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--dark-text);
}

.App-header_title {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 10%;
}

.App-header_titleSubpage {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 10%;
}

.App-header_content {
  display: flex;
  align-items: start;
  margin-left: 10%;
  flex-direction: column;
}

.content {
  display: flex;
  flex-wrap: row wrap;
  margin-inline-start: 10%;
  gap: 2.5%
}

.contentItem {
  flex: "1";
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Bars {
  display: none;
}

button {
  background-color: #119605; /* Green */
  border: solid;
  border-color:#0b6b02;
  color: rgb(255, 255, 255);
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 10%;
}

@media (max-width: 768px) {
  .Bars {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 75%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
  }
  .NavMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    background: #000000;
  }
  .NavMenu.active {
    background: #000000;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .NavBtn {
    display: none;
  }
}